{erl_opts, [{i, "deps/proper/include"}, warnings_as_errors, debug_info, export_all]}.
{deps,
    [
        {erlsom, "", {git, "https://github.com/danw/erlsom.git", {branch, "master"}}},
        {proper, "", {git, "https://github.com/manopapad/proper.git", {branch, "master"}}},
        {misultin, "", {git, "https://github.com/ostinelli/misultin.git", {branch, "master"}}}
    ]}.